/* Main Font, serif */
@font-face {
	font-family: BookInsanityRemake;
	src: url('../fonts/Bookinsanity.woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: BookInsanityRemake;
	src: url('../fonts/Bookinsanity Bold.woff2');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: BookInsanityRemake;
	src: url('../fonts/Bookinsanity Italic.woff2');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: BookInsanityRemake;
	src: url('../fonts/Bookinsanity Bold Italic.woff2');
	font-weight: bold;
	font-style: italic;
}

/* Notes and Tables, sans-serif */
@font-face {
	font-family: ScalySansRemake;
	src: url('../fonts/Scaly Sans.woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: ScalySansRemake;
	src: url('../fonts/Scaly Sans Bold.woff2');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: ScalySansRemake;
	src: url('../fonts/Scaly Sans Italic.woff2');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: ScalySansRemake;
	src: url('../fonts/Scaly Sans Bold Italic.woff2');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: ScalySansSmallCapsRemake;
	src: url('../fonts/Scaly Sans Caps.woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: WalterTurncoat;
	src: url('../fonts/WalterTurncoat-Regular.woff2');
	font-weight: normal;
	font-style: normal;
}

/* Headers */
@font-face {
	font-family: MrEavesRemake;
	src: url('../fonts/Mr Eaves Small Caps.woff2');
	font-weight: normal;
	font-style: normal;
}

/* Fancy Drop Cap */
@font-face {
	font-family: SolberaImitationRemake; /*Tweaked 5e version*/
	src: url('../fonts/Solbera Imitation Tweak.woff2');
	font-weight: normal;
	font-style: normal;
}
