.code-edit-control-bar {
  background-color: #c7c7c7;
  display: flex;
  padding: 0.5rem 0.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-items: center;
}

.code-edit-control-bar > button {
  margin: 0 0.2rem;
  padding: 0.3rem;
}

.code-edit-container {
  background-color: hsl(212, 35%, 95%);
  word-wrap: break-word;
  text-align: left;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  resize: none !important;
  min-height: 100% !important;
  padding: 0.5rem 1rem;
}

.hljs-section {
  color: red;
}

.hljs-character-name {
  color: blue;
}

.hljs-capacity-name {
  color: green;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-root {
  background-color: rgb(208, 230, 208);
}

.hljs-creation-point {
  color: rgb(70, 96, 192);
}

.hljs-multiplier-pc {
  color: rgb(202, 55, 153);
}

.hljs-total-pc {
  background-color: red;
}

.hljs-ressources-name {
  color: violet;
}

.hljs-competences-name {
  color: rgb(48, 126, 136);
}

.hljs-roots-known-name {
  color: rgb(180, 80, 40);
}

.hljs-feats-name {
  color: rgb(28, 158, 175);
}

.hljs-features-name {
  color: rgb(115, 44, 173);
}

/* overrides */
/* .code-edit-container :not(pre) > code[class*="language-"],
.code-edit-container pre[class*="language-"] {
  background: transparent;
  margin: 0;
} */
