*:not(svg) {
  box-sizing: border-box;
  max-width: 100%;
} 


html, body, #root  { 
  margin:0;
  padding:0;
  width: 100vw;
  max-width:100%;
  min-height:100vh;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dddddd;
  background-color: var(--background);
  background-image: url("../assets/app/parchmentBackground.jpg");
  box-shadow: inset 1em 0em 1em rgba(0, 0, 0, 0.05),
    inset -1em 0em 1em rgba(0, 0, 0, 0.05);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-position : outside;
  list-style-type     : disc;
}

ol {
  list-style-position : outside;
  list-style-type     : decimal;
}

/* p+p, ul+p, ol+p{
  text-indent : 1em;
} */

sup {
  vertical-align : super;
  font-size      : smaller;
  line-height    : 0;
}

sub {
  vertical-align : sub;
  font-size      : smaller;
  line-height    : 0;
}

h1,h2,h3,h4{
  font-family   : 'MrEavesRemake';
  font-weight   : 800;
  color         : var(--headerText);
}

h1+p::first-letter {
  float                   : left;
  font-family             : SolberaImitationRemake;
  line-height             : 1em;
  font-size               : 3.5cm;
  padding-left            : 40px; /*Allow background color to extend into margins*/
  margin-left             : -40px;
  margin-top              : -0.3cm;
  padding-bottom          : 2px;
  margin-bottom           : -20px;
  background-image        : linear-gradient(-45deg, #322814, #998250, #322814);
  background-clip         : text;
  -webkit-background-clip : text;
  color                   : rgba(0, 0, 0, 0);
}

h1+p::first-line {
  font-variant : small-caps;
}

h5 {
  font-family   : ScalySansSmallCapsRemake;
}

table {
  font-family : ScalySansRemake;
	font-size   : 0.318cm;
	line-height : 1.2em;
}

thead{
  display: table-row-group;
  font-weight : 800;
}

th {
  vertical-align : bottom;
  padding        : 0.14em 0.4em;
}

td {
  padding : 0.14em 0.4em;
}

tbody tr:nth-child(odd){
  background-color : var(--noteGreen);
}

.note {
  background-color    : var(--noteGreen);
  border-style        : solid;
  border-width        : 1px;
  border-image        : url(../assets/app/noteBorder.png) 12 stretch;
  border-image-outset : 9px 0px;
  border-image-width  : 11px;
  padding             : 0.5rem;
  filter              : drop-shadow(1px 4px 6px rgba(0, 0, 0, 0.16));
}

.descriptive {
  background-color    : #faf7ea;
  border-style        : solid;
  border-width        : 7px;
  border-image        : url(../assets/app/descriptiveBorder.png) 12 stretch;
  border-image-outset : 4px;
  padding             : 0.1em;
  filter              : drop-shadow(0 0 3px #faf7ea);
  /* & + * {
    margin-top : 0.45cm;
  }
  h5 {
    font-size : 0.375cm;
  }
  p{
    display        : block;
    padding-bottom : 0px;
    line-height    : 1.5em;
  }
  :last-child {
    margin-bottom : 0;
  } */
}