.roots-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.root {
  margin: 0.5rem;
  background-color: white;
  padding: 1rem;
  box-shadow: -8px 5px 8px 2px rgba(24, 30, 37, 0.16);
  flex-shrink: 1;
  flex-grow: 1;
}

.root-filter-bar {
  background-color: rgba(0,0,0,0.1);
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* .root-filter-bar>*{
  flex-grow: 1;
} */

.root-filter-bar-input {
  position: relative;
  height: 2rem;
  padding: 0 2rem;
  /* max-width: 8rem; */
}

.root-filter-bar-input input {
  width: 100%;
  height: 100%;
}

.root-filter-bar-input svg {
  position: absolute;
  top: 0.5rem;
  right: 2.5rem;
}

.root p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.root-header, .branch-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
} 

.root-body {
  text-align: left;
}

.root-name, .branch-name {
  font-size: medium;
  margin: 0;
}

.root-label {
  margin-left: 0.5rem;
  padding: 0.2rem 0.5rem;
  background-color: var(--noteGreen);
  border-radius: 0.5rem;
}

.root-branches {
  display: grid;
  grid-gap: 20px;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
  .grid-2, .grid-3 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.root-branches>div {
  /* width: 30%; */
  padding: 0.5rem;
  /* margin: 0.5rem; */
  background-color: var(--background);
  box-shadow: -8px 5px 8px 2px rgba(24, 30, 37, 0.16);
}

.root table {
  width: 100%;
}

/* .root th {
  /* background-color: #c7c7c7;
  background-color: rgba(0, 0, 0, 0.1);
} */

.root th, .root td {
  padding-left: 0.5rem;
}

/* .root tr:nth-child(even) {
  /* background-color: #f2f2f2;
  background-color: rgba(255, 255, 255, 0.2);
  /* background-color: rgba(0, 0, 0, 0.1);
} */

.link-to-racine {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  margin: 0 10px;
}

/* .descriptive {
  background-color: goldenrod;
  border-radius: 0.5rem;
} */