.sheet>div {
  text-align: start;
  flex-grow: 1;
}

.sheet-html>div {
  padding: 1rem;
  padding-right: calc(1rem + 250px);
}

button:not([disabled]) {
  cursor: pointer;
}

@media (max-width: 768px) {
  .sheet-html>div {
    padding-right: 0;
  }
}

.info-panel {
  position: fixed;
  overflow-wrap: break-word;
  width: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  transition: transform 0.5s;
  background-color: rgba(201, 173, 106, 0.4);
  padding: 1rem;
  padding-top: calc(1rem + 50px);
  border-left: 1px solid #d6c28e;
}


@media (max-width: 768px) {
  .info-panel {
    transform: translate(250px,0);
  }
}


.info-panel a {
  text-decoration: none;
  color: inherit;
}

.info-panel h1, .info-panel h2, .info-panel h3 {
  font-size: medium;
  font-weight: normal;
  margin: 0;
}

.info-panel h1 {
  font-weight: 900;
}

.info-panel h2 {
  font-weight: 600;
  text-indent: -0.5rem;
  padding-left: 1rem;
}

.info-panel h3 {
  text-indent: -0.5rem;
  padding-left: 1.5rem;
}

.info-panel button {
  background-color    : #faf7ea;
  border-style        : solid;
  border-width        : 8px;
  border-image        : url(../assets/app/codeBorder.png) 12 stretch;
  border-image-outset : 4px;
  padding: 0.1rem 0.5rem;
  border-radius: 8px;
}

.info-panel button:hover:not(:disabled) {
  filter: drop-shadow(1px 4px 6px rgba(0, 0, 0, 0.16));
}

.info-panel button:disabled {
  color: #4f4f4f;
  background-color: rgba(97, 82, 49,0.1);
}

.info-panel-button {
  position: fixed;
  bottom: 1rem;
  right: 0;
  background-color: #cccccc;
  font-weight: 900;
  font-size: larger;
  border-radius: 1rem 0 0 1rem;
  cursor: pointer;
  display: none;
  transition: transform 0.5s;
  padding: 1rem;
  bottom: 5rem;
}

@media (max-width: 768px) {
  .info-panel-button {
    display: block;
    transform: translate(-250px,0);
  }
}

.info-panel button {
  margin-bottom: 1rem;
}