.flex {
  display: flex
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.cursor-pointer {
  cursor: pointer;
}

.d-none {
  display: none;
}

.no-wrap {
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

.text-left {
  text-align: left;
}

.align-start {
  align-items: flex-start;
}

.justifiy-evenly {
  justify-content: space-evenly;
}